<div class="cart">
  Cart:
  <div *ngIf="getCount() > 0; else cartEmpty">
    <ul>
      <li *ngFor="let item of getProductItems()">
        <app-cart-item appHighlight
                       [product]="item.product" [quantity]="item.quantity"
                       (remove)="onRemove($event)" (increment)="onIncrement($event)" (decrement)="onDecrement($event)">
        </app-cart-item>
      </li>
    </ul>
    (items count: {{getCount()}}, total price: {{getTotal()}})
  </div>
  <ng-template #cartEmpty>
    empty
  </ng-template>
</div>
